@import '../../../common/main.scss';

.add-new {
  &__add-new-cat {
    &--input {
      @include placeholder {
        font-size: 12px;
      }
    }
  }
}

.schedule {
  &__persian-datepicker {
    font-size: 9px;
    &-input {
      width: 128px;
    }
  }
}

.post-category {
  &__new-cat-name {
    .ant-form-item-explain {
      font-size: 12px;
    }
  }
}